<% layout('layout') -%>

<% var categories = items; %>
<% if (subcategory) { categories = _.toArray(items)[0].categories; } %> 

<% _.each(categories, function(topC) { %>
	<% if (topC.id == category_id) { %>

		<h1><%= topC.name %></h1>
		<p class="description"><%= topC.page_description %></p>

		<h3>Subcategories</h3>
		<% _.each(topC.categories, function(subC) { %>
			<% if (subC.image) { %>
			<div class="category-image">
				<img src="/images/<%= subC.image %>">
			</div>
			<% } %>
			<p class="description"><%= subC.page_description %></p>
			<a href="<%= view_link %>?id=<%= subC.id %>" class="btn btn-xs btn-info">view products</a>
			<hr>
		<% }); %>

	<% }; %>
<% }); %>