<!DOCTYPE html>
<html lang="en">
<head>
    <% include templates/head.ejs%>
</head>
 
<body>
 
<% include templates/header.ejs%>
 
<!-- Insert Body here -->
<div class="container">
	
    <%- body %>
 
</div><!-- /.container -->
 
<% include templates/footer.ejs%>

</body>
</html>
