<% layout('layout') -%>

<div class="product">
	<div class="product-image">
		<img src="/images/<%= item.image.link %>" alt="<%= item.image.alt %>">
	</div>
	<div class="product-details">
		<div class="product-title"><h5><%= item.name %></h5></div>
		<div class="product-description">
			<p><%- item.long_description %></p>
		</div>
		<div class="actn-btn">
			<a href="#" class="btn btn-xs btn-info">Buy Now</a>
		</div>
		<div class="product_price">
			<span class="price"><%= item.price.toFixed(2) %></span>
			<span class="currency">
				<select class="currencies">
					<% _.each(currencies, function(c) { %>
					<option value="<%= ((USD / c.Value) * item.price).toFixed(2) %>"><%= c.IDMoneda %></option>
					<% }) %>
				</select>
			</span>
		</div>
	</div>
</div>
		
<script
	  src="http://code.jquery.com/jquery-3.3.1.min.js"
	  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
	  crossorigin="anonymous"></script>
<script type="text/javascript">

	jQuery('.currencies option').filter(function(index) {
		if (jQuery(this).text() == 'USD') {
			jQuery(this).attr('selected', 'selected');
		}
	});

	var data = <%- JSON.stringify(currencies) %>;

	jQuery('.currencies').on('change', function() {
		jQuery('.price').text(jQuery(this).val());
	}) 
	console.log(data);
</script>
