<% layout('layout') -%>

<% _.each(items, function(product, key) { %>
	<% if (key % 2 === 0) { %>
	<div class="row">
	<% } %>
		<div class="col-sm-6">
			<div class="product">
				<div class="product-image product-image-in-grid">
					<img src="/images/<%= product.image.link %>" alt="<%= product.image.alt %>">
				</div>
				<div class="product-details">
					<div class="product-title"><h5><%= product.name %></h5></div>
					<div class="product-description">
						<p><%= product.short_description %></p>
					</div>
					<div class="product_price">
						<span class="price">$<%= product.price %></span>
					</div>
					<div class="actn-btn">
						<a href="/category/subcategory/products/item?id=<%= product.id %>" class="btn btn-xs btn-info"><span class="view-prod-btn">More Info</span></a>
					</div>
				</div>
			</div>
		</div>
	<% if (key % 2 !== 0) { %>
	</div>
	<% } %>
<% }); %>

<div class="product-pagination">
<% if (page_count > 0) { %>
	<ul class="pagination text-center">
	<% if (current == 1) { %>
		<li class="disabled"><a>First</a></li>
	<% } else { %>
		<li><a href="/category/subcategory/products?id=<%= category_id %>&page=1">First</a></li>
	<% } %>
	<% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
	<% if (i !== 1) { %>
		<li class="disabled"><a>...</a></li>
	<% } %>
	<% for (; i <= (Number(current) + 4) && i <= page_count; i++) { %>
	<% if (i == current) { %>
			 <li class="active"><a><%= i %></a></li>
	<% } else { %>
			 <li><a href="/category/subcategory/products?id=<%= category_id %>&page=<%= i %>"><%= i %></a></li>
	<% } %>
	<% if (i == Number(current) + 4 && i < page_count) { %>
			 <li class="disabled"><a>...</a></li>
	<% } %>
	<% } %>
	<% if (current == page_count) { %>
		<li class="disabled"><a>Last</a></li>
	<% } else { %>
		<li><a href="/category/subcategory/products?id=<%= category_id %>&page=<%= page_count %>">Last</a></li>
	<% } %>
	</ul>
<% } %>