<header>
	<h3 class="project_title">Shop</h3>
	<a href="/category?id=womens" class="button btn btn-xs btn-info">Womens</a>
	<a href="/category?id=mens" class="button btn btn-xs btn-info active">Mens</a>
</header>
<hr>

<nav aria-label="breadcrumb">
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a href="/">Home</a></li>
		<% if (breadcrumbs) { %>
			<% _.each(breadcrumbs, function(breadcrumb) { %>
				<li class="breadcrumb-item active" aria-current="page"><a href="<%= breadcrumb.link %>"><%= breadcrumb.name %></a></li>
			<% }); %>
		<% } %>
	</ol>
</nav>