img{
	max-width: 100%;
	height: auto;
}

.product {
	background: #fff;
	padding: 10px;
	position: absolute;
	overflow: hidden;
	width: 80%;
}

.product-image {
	position: relative;
	float: left;
	width: 30%;
}

.product-details {
	position: relative;
	float: left;
    width: 65%;
    padding: 10px 0 10px 5%;
    height: 100%;
}

.product-title {
	float: left;
	width: 100%;
	text-transform: uppercase;
}

.product-title h2 {
    margin: auto;
    font-size: 1.5em;
    font-weight: 500;
    line-height: 1;
    padding-bottom: 5px;
}

.product-description {
	overflow: hidden;
    float: left;
    line-height: 1;
    width: 100%;
}

.product-description p {
    margin: 0;
    line-height: 1.3;
    padding: 10px 0;
}

.product_price {
	float: right;
	max-width: 50%;
	bottom: 10px;
}

.product-price span {
	font-size: 1.1em;
	line-height: 1;
}

.btn-buy {
	float: left;
	max-width: 50%;
}