img {
  max-width: 100%;
  height: auto;
}

.product {
	display: inline-block;
	background: #fff;
	border: 1px solid #ccc;
	padding: 10px;
	position: relative;
	overflow: hidden;
}

.product-image {
	position: relative;
	overflow: hidden;
}

.product-image img {
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;  
}

.product-details {
	position: relative;
	float: left;
    width: calc(100% - 100px);
    padding: 0 10px;
    height: 100%;
}

.product-title {
	float: left;
	width: 100%;
	text-transform: uppercase;
}

.product-title h5 {
    margin: auto;
    font-size: 1.1em;
    font-weight: 500;
    line-height: 1;
    padding-bottom: 5px;
}
.product_price {
	float: left;
	max-width: 50%;
	bottom: 10px;
}

.product-price span {
	font-size: 1.1em;
	line-height: 1;
}

.product-description {
	overflow: hidden;
    float: left;
    line-height: 1;
    width: 100%;
}

.product-description p {
    margin: 0;
    line-height: 1.3;
    padding: 10px 0;
}

.product-image {
	height: 150px;
    float: left;
    width: 100px;
}

.view-prod {
	float: right;
	max-width: 50%;
}

.product-pagination {
	clear: both;
}
