body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

header {
	margin: 0;
	padding: 20px 0;
	height: 40px;
}

header .button {
	float:right;
	margin: 0 1%;
}
header .project_title {
	display: inline;
	float: left;
	margin: 0;
}
